<a href="https://colab.research.google.com/github/Mads8760/Avanti-MCL/blob/main/Atividade_02_Avanti_Atlanti_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Escreva uma função que receba uma lista de números e retorne outra lista
com os números ímpares.

In [ ]:
def numeros_impares ():
  lista_numeros =[1,2,3,4,5,6,7,8,9]
  lista_impares = []
  for numero in lista_numeros:
    if numero % 2 != 0:
      lista_impares.append(numero)
  return lista_impares
print(numeros_impares())

[1, 3, 5, 7, 9]

2. Escreva uma função que receba uma lista de números e retorne outra lista com os números primos presentes.

In [ ]:
def primo():
  lista_numeros = [1,2,3,4,5,6,7,8,9,11,13,12,15,17,16]
  numeros_primos = []
  for numero in lista_numeros:
    if numero < 2:
      continue
    é_primo = True
    for i in range(2, numero):
      if numero % i == 0:
        é_primo = False
        break
    if é_primo:
      numeros_primos.append(numero)
  return numeros_primos
print(primo())

[2, 3, 5, 7, 11, 13, 17]

3. Escreva uma função que receba duas listas e retorne outra lista com os elementos que estão presentes em apenas uma das listas.

In [ ]:
def presencça():
  lista1 = [1,2,3,4,5,6]
  lista2 = [0,1,2,5,6]
  lista_presente=[]

  for numero in lista1:
    if numero not in lista2:
      lista_presente.append(numero)
  for numero in lista2:
    if numero not in lista1:
      lista_presente.append(numero)
  return lista_presente
print(presencça())

[3, 4, 0]

4. Dada uma lista de números inteiros, escreva uma função para encontrar o segundo maior valor na lista.

In [ ]:
def segundo_numero():
  lista_numeros = [0,2,4,6,8,10]
  segundo_maior = []
  maior = max(lista_numeros)
  for numero in lista_numeros:
    if numero != maior:
      segundo_maior.append(numero)
  return max(segundo_maior)
print(segundo_numero())

8

5. Crie uma função que receba uma lista de tuplas, cada uma contendo o
nome e a idade de uma pessoa, e retorne a lista ordenada pelo nome das
pessoas em ordem alfabética.

In [ ]:
def nome():
  tupla1 = [("José", 74), ("Kalu",25) , ("Antonio", 40)]
  lista_ordenada = ()
  for x in tupla1:
    lista_ordenada = sorted(tupla1)
  return lista_ordenada
print(nome())

[('Antonio', 40), ('José', 74), ('Kalu', 25)]

6. ## Como identificar e tratar outliers em uma coluna numérica usando desvio padrão ou quartis?

* O método de distancia interquartil se baseia nos quartis do conjunto de dados e no intervalo interquartil ( IQR)  que é definido como a diferença entre o terceiro quartil (Q3) e o primeiro quartil. Os outliers são os valores que estão no limite superior ou do limite inferior.
* O desvio padrão é a tecnica baseada em media e do desvio padrão de dados. Os outliers nesta tecnica são os valores que estão uma certa distancia da media.

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({"Numeros": [2,4,6,8,10,12,14,16,18,20]})
media_df = (df1["Numeros"]).mean()
desvio_padrão = np.std(df1["Numeros"])
Q1 = df1["Numeros"].quantile(0.25)
Q3 = df1["Numeros"].quantile(0.75)
IQR = Q3 - Q1
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR
outliers = df1[(df1["Numeros"] < limite_inferior) | (df1["Numeros"] > limite_superior)]
print(outliers)

Empty DataFrame
Columns: [Numeros]
Index: []

7. ## Como concatenar vários DataFrames (empilhando linhas ou colunas), mesmo que tenham colunas diferentes?
### Dica: Utiliza-se pd.concat() especificando axis=0 (linhas) ou axis=1 (colunas). Quando há colunas diferentes, os valores ausentes são preenchidos com NaN.

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'Nome': ['Kalu', 'José', 'Sandra'], 'Idade': [24, 55, 36],'Profissão':['Musicista', 'Gari', 'Advogada']})
df2 = pd.DataFrame({'Nome': ['Marcos', 'César', 'Luiza'], 'Idade': [57, 28, 49],'Profissão': ['Pedagogo', 'Segurança', 'Cabeleleira']})


Dados = pd.concat([df1, df2], axis = 0)
print(Dados)

     Nome  Idade    Profissão
0    Kalu     24    Musicista
1    José     55         Gari
2  Sandra     36     Advogada
0  Marcos     57     Pedagogo
1   César     28    Segurança
2   Luiza     49  Cabeleleira

8. ## Utilizando pandas, como realizar a leitura de um arquivo CSV em DataFrame e exibir as primeiras linhas?

In [ ]:
# metodo 1
import pandas as pd
df = pd.read_csv('caminho do arquivo')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [ ]:
# metodo 2
import pandas as pd
from google.colab import files

uploaded = files.upload()

for filename in uploaded.keys():

  df = pd.read_csv(filename)


  print(df.head())

9. ## Utilizando pandas, como selecionar uma coluna específica e filtrar linhas em um “DataFrame” com base em uma condição?

In [ ]:
import pandas as pd
idade_coluna = Dados['Idade']
Dados_filtrados = Dados[(Dados['Idade'] >= 30)]
print(Dados_filtrados)

     Nome  Idade    Profissão
1    José     55         Gari
2  Sandra     36     Advogada
0  Marcos     57     Pedagogo
2   Luiza     49  Cabeleleira

10. ## Utilizando pandas, como lidar com valores ausentes (NaN) em um DataFrame?

* Pode ser tratado de várias formas. Vai depender do dataset que se esta trabalhando os valores presentes neste.

* Pode-se remover os valores, preencher os valores com 0, media, valores anteriores ou mesmo o proximo valor disponivel. Outra forma é preencher os dados por meio de interpolação, isto é, se os dados numericos houver uma tendencia.

In [ ]:
import pandas as pd
# Identificar valores ausentes
df.isna()

#Remover valores ausentes
df.dropna(inplace=True)

#Preencher valores ausentes com 0
df.fillna(0, inplace=True)

#Preencer valores com a media
df.fillna(df.mean(), inplace=True)

#Preenceher com o valor anterior
df.fillna(method='ffill', inplace=True)

#Preencher com o proximo valor
df.fillna(method='bfill', inplace=True)

#Preencehr com interpolação
df.interpolate(method='linear', inplace=True)